@{
    ViewBag.Title = "About";
    int a = 5;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>@ViewBag.Success</h4>
<h4>@a</h4>

<p>Red = @ViewBag.Red, Blue = @ViewBag.Blue</p>

<p>Use this area to provide additional information.</p>
